.blog-list {
  font-size: 1rem;
}

.post-meta {
  font-size: 18px;
  font-family: $sans-serif-font;
  margin-top: 1rem;
}

.post-footer {
  font-size: 20px;
  text-align: center;
  margin-top: 2rem;

  @media (min-width: $screen-lg) {
    margin-top: 3rem;
  }
}

