$text-color: #303030;
$main-color: #A5C1C3;
$main-color-dark: #2D5056;
$main-color-light: #C9DADB;

$serif-font: "Cormorant Garamond", "Times", "Times New Roman", serif;
$sans-serif-font: "Barlow", "Helvetica", "Arial", sans-serif;

$text-max-width: 600px;

$screen-md: 700px;
$screen-lg: 1080px;