<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#A5C1C3">
  {% block alternate %}{% endblock %}
  <title>{{ title }} &middot; {{ site[locale].metaTitle }}</title>
  <link
    href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,700"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow:400,700" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="icon" type="image/png" href="/favicon.png" sizes="32x32" />
  {% if metaTitle %}
  <meta name="title" content="{{ metaTitle }}" />
  {% endif %}
  {% if metaDescription %}
  <meta name="description" content="{{ metaDescription }}" />
  {% endif %}
  {% if buildProduction %}
    <meta name="robots" content="index, follow" />
  {% else %}
    <meta name="robots" content="none" />
  {% endif %}
  <base href="{{ site.baseUrl }}" />
  {% if site.gaId %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.gaId }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag(
      'config',
      {{ site.gaId }},
      {'anonymize_ip': true, 'allow_google_signals': false, 'allow_ad_personalization_signals': false }
    );
  </script>
  {% endif %}
</head>
<body>
  <main class="main">
    {% block main %}{% endblock %}
  </main>
</body>
</html>
