{% extends "layouts/base-blog.njk" %}

{% set metaTitle = site.blog.title %}
{% set metaDescription = site.blog.description %}
{% set pageTitle = title %}
{% set excludeLanguageNav = true %}

{% block content %}
  {% include "../partials/_page-header.njk" %}
  <div class="text-section blog-text-section">
    {{ content | safe }}
  </div>
{% endblock %}
