{% if currentJob %}
<li class="job-current">
{% else %}
<li>
{% endif %}
  <strong>{{ web[locale].cv.entries[companyName].position }}</strong><br />
  <span>{{ web[locale].cv.entries[companyName].company }}</span><br />
  <span>{{ web[locale].cv.entries[companyName].time }}</span>
</li>
