<header class="page-header">
  <h1 class="page-title">
    {{ pageTitle | safe }}<span class="text-colored" aria-hidden="true">.</span>
  </h1>
  {%  if homeNav %}
  <nav class="home-nav">
    <a href="{{ site[locale].homePath }}" class="home-link">{{ common[locale].homeLink | safe }}</a>
  </nav>
  {% endif %}
  {% if  excludeLanguageNav %}
    <div class="language-nav language-nav--no">
      <span class="no">DE</span> / <span>EN</span>
    </div>
  {% else %}
    <nav class="language-nav">
      {{ site[locale].langNav(page.url) | safe }}
    </nav>
  {% endif %}
</header>
